<h2 id="title">Welcome to Ember.js</h2>
<div style="display: inline-block; width: 10%;vertical-align: top; background-color: moccasin;">
    <a href="/tables">tables</a>
</div>
<div style="display: inline-block; width: 80%;">
  {{outlet}}
</div>